##########################
# What git should ignore #
##########################

# Compiled files #
##################
dependency-reduced-pom.xml
target
site
bin

# Documentation files #
#######################
docs/build
docs/cache

# Sublime files #
#################
*.sublime-project
*.sublime-workspace

# Eclipse files #
#################
.project
.classpath
*.prefs

# Intellij files #
##################
.idea
*.iml

# Misc #
########
.DS_Store
*.TODO
parser
backup